body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color:honeydew;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, button {
	margin: 5px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color:darkblue;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(149, 204, 250);
  color: black;
}

.topnav-left{
  float:left;
}

.topnav-left a:hover{
  background-color: transparent;
  box-shadow: 2cm;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.big-icon{
  animation: rotation 10s infinite linear;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.page-title{
  color: darkblue;
}

.items-list{
  color:black;
  padding:5px;
  text-align: left;
  margin-left:350px;
  font-size: large;
}

.balance{
  color:rgb(149, 204, 250);
  background-color: rgb(0, 0, 0);
  width: 15%;
  height:100%;
  border: 5px dashed rgb(149, 204, 250);
  margin: 20px;
  text-align: left;
  position:absolute;
  margin: auto;
  padding: auto;
}

.balance-text{
  padding: 20px;
}

.add-form{
  text-align: left;
  padding:5px;
  margin-left: 330px;
}

.debit-credit-title{
  color:darkblue;
  text-align: left;
  margin-left: 350px;
  font-size:1.5cm;
}